---
permalink: /events/hardcore-100-2018/100KM
layout: default
enableCategoryRank: false
collectionTag: hardcore-100-2018
collectionCategory: 100KM
css: event-result.css
event-title: 2018 HARDCORE 100
event-location: Kayapa Nueva Ecija
event-date: 2018-03-17
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1573622785/Logo/HARDOCORE_100_LOGO_gtvcxx.jpg

category-title1: 100KM
category-url1: /events/hardcore-100-2018/100KM


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>