---
permalink: /events/talinis-ultramarathon-2019/17KM
layout: default
enableCategoryRank: false
collectionTag: talinis-ultramarathon-2019
collectionCategory: 17KM
css: event-result.css
event-title: Mt. Talinis Mountain Ultra Marathon 2019
event-location: Velencia Negros Oriental Philippines
event-date: 2019-10-05
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1570664614/logo/mt-talinis-2019_x4wk7w.jpg

category-title1: 17KM
category-url1: /events/talinis-ultramarathon-2019/17KM

category-title2: 25KM
category-url2: /events/talinis-ultramarathon-2019/25KM

category-title3: 50KM
category-url3: /events/talinis-ultramarathon-2019/50KM

category-title4: 70KM
category-url4: /events/talinis-ultramarathon-2019/70KM


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>