---
permalink: /events/cm50-2016/50MILES
layout: default
enableCategoryRank: false
collectionTag: cm50-2016
collectionCategory: 50MILES
css: event-result.css
event-title: Clark Miyamit Falls Ultra (CM50) 2016
event-location: Clark Freeport Zone, 2010 Mabalacat, Pampanga, Philippines
event-date: 2016-11-26
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1570607412/logo/cm50_p8ydpq.jpg

category-title1: 50 Miles
category-url1: /events/cm50-2016/50MILES

category-title2: 60 Miles
category-url2: /events/cm50-2016/60MILES



javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>