---
permalink: /events/2018-bacnotan-trail-ultra/50K
layout: default
enableCategoryRank: false
collectionTag: 2018-bacnotan-trail-ultra
collectionCategory: 50K
css: event-result.css
event-title: 2018 BACNOTAN TRAIL ULTRA
event-location: Bacnotan La Union Philippines
event-date: 2018-10-27
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1573626331/Logo/lOGO_sclsdl.png

category-title1:
category-url1: /events/2018-bacnotan-trail-ultra/12K

category-title2: 21K
category-url2: /events/2018-bacnotan-trail-ultra/21K

category-title3: 50K
category-url3: /events/2018-bacnotan-trail-ultra/50K

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

