---
permalink: /events/trail-fifty-mapawa-2019/5KM
layout: default
enableCategoryRank: false
collectionTag: trail-fifty-mapawa-2019
collectionCategory: 5KM
css: event-result.css
event-title: TRAIL FIFTY MAPAWA 2019
event-location: Mapawa Nature Park, Cagayan de Oro, Philippines
event-date: 2019-10-20
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1572254355/logo/trail-fifty-mapawa_fizjmb.jpg

category-title1: 50Miles
category-url1: /events/trail-fifty-mapawa-2019/50MILES

category-title2: 5KM
category-url2: /events/trail-fifty-mapawa-2019/5KM

category-title3: 15KM
category-url3: /events/trail-fifty-mapawa-2019/15KM

category-title4: 25KM
category-url4: /events/trail-fifty-mapawa-2019/25KM

category-title5: 50KM
category-url5: /events/trail-fifty-mapawa-2019/50KM



javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>