---
permalink: /events/mantra-summit-challenge-2019/35KM/
layout: default
enableCategoryRank: false
collectionTag: mantra-summit-challenge-2019
collectionCategory: 35KM
css: event-result.css
title: RaceYaya | Mantra Summit Challenge 2019
event-title: Mantra Summit Challenge 2019
event-location: Pasuruan, East Java, Indonesia	
event-date: 14-Jul-19
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1569072809/logo/mantra-image_segrbx.jpg

category-title1: 15KM
category-url1:  /events/mantra-summit-challenge-2019/15KM/

category-title2: 35KM
category-url2: /events/mantra-summit-challenge-2019/35KM/

category-title3: 55KM
category-url3: /events/mantra-summit-challenge-2019/55KM/

category-title4: 75KM
category-url4: /events/mantra-summit-challenge-2019/75KM/

category-title5: 116KM
category-url5: /events/mantra-summit-challenge-2019/116KM/


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>