---
permalink: /events/utcm-2019/104KM/
layout: default
enableCategoryRank: false
collectionTag: utcm-2019
collectionCategory: 104KM
css: event-result.css
title: RaceYaya | Ultra Trail Chiang Mai 2019
event-title: Ultra Trail Chiang Mai 2019
event-location: Mae Jam School, Chiang Mai, Thailand
event-date: 31 Aug - 1 Sep 2019
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1569217001/logo/ultra-trail-chiangmai_ay7efp.jpg

category-title1: 20KM
category-url1:  /events/utcm-2019/20KM/

category-title2: 33KM
category-url2: /events/utcm-2019/33KM/

category-title3: 65KM
category-url3: /events/utcm-2019/65KM/

category-title4: 104KM
category-url4: /events/utcm-2019/104KM/


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>