---
permalink: /events/klau-jungle-trail-2019/42KM/
layout: default
enableCategoryRank: false
collectionTag: klau-jungle-trail-2019
collectionCategory: 42KM
css: event-result.css
title: RaceYaya | KLAU Jungle Trail 2019
event-title: KLAU Jungle Trail 2019
event-location: Pasar Sg Klau, Pahang, Malaysia	
event-date: 8th September 2019 (Sunday)
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1569072808/logo/klau-image_qwwxyw.png

category-title1: 25KM
category-url1:  /events/klau-jungle-trail-2019/25KM/

category-title2: 42KM
category-url2: /events/klau-jungle-trail-2019/42KM/

category-title3: 60KM
category-url3: /events/klau-jungle-trail-2019/60KM/


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>