---
permalink: /events/coron-island-funrun-2019/3KM
layout: default
enableCategoryRank: false
collectionTag: coron-island-funrun-2019
collectionCategory: 3KM
css: event-result.css
event-title: Coron Island Fun Run 2019
event-location: Coron Palawan
event-date: 2019-12-08
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1576030401/Logo/coron_run_rp9tod.jpg

category-title1: 3KM
category-url1: /events/coron-island-funrun-2019/3KM

category-title2: 5KM
category-url2: /events/coron-island-funrun-2019/5KM



javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>