---
permalink: /events/sungai-menyala-2019/50KM
layout: default
enableCategoryRank: true
collectionTag: sungai-menyala-2019
collectionCategory: 50KM
css: event-result.css
event-title: Sungai Menyala Trail Festival 2019
event-location: Port Dickson Malaysia
event-date: 04-07-2019
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1570025907/logo/smft_rwzxh1.jpg

category-title1: 10KM
category-url1: /events/sungai-menyala-2019/10KM

category-title2: 25KM
category-url2: /events/sungai-menyala-2019/25KM

category-title3: 50KM
category-url3: /events/sungai-menyala-2019/50KM


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>