---
permalink: /events/cordillera-mountain-ultra-2019/vertical
layout: default
enableCategoryRank: false
collectionTag: cordillera-mountain-ultra-2019
collectionCategory: vertical
css: event-result.css
event-title: 2019 CORDILLERA MOUNTAIN ULTRA
event-location: Tinongdan, Itogon, Benguet Philippines
event-date: 03-06-2019
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1573614960/Logo/Cordillera-Mountain-Ultra-2019-1280_wxhrmh.jpg

category-title1: Kiddie Trail Run
category-url1: /events/cordillera-mountain-ultra-2019/kiddie

category-title2: Vertical KM
category-url2: /events/cordillera-mountain-ultra-2019/vertical

category-title3: CMU
category-url3: /events/cordillera-mountain-ultra-2019/cmu

category-title4: CMR
category-url4: /events/cordillera-mountain-ultra-2019/cmr

category-title5: 10K Cordillera Trail Run
category-url5: /events/cordillera-mountain-ultra-2019/10KM


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>