---
permalink: /events/aliciavirtualultra2020/50K
layout: default
enableCategoryRank: false
enableFinishDistance: false
collectionTag: aliciavirtualultra2020
collectionCategory: 50K
css: event-result.css
event-title: Alicia Virtual Ultra
event-location: Philippines
event-date: 2020-12-23
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1610415351/logo/2021/Alicia_Ultra_Logo_transparent_f8rwad.png

category-title1: 12K
category-url1: /events/aliciavirtualultra2020/12K

category-title2: 25K
category-url2: /events/aliciavirtualultra2020/25K

category-title3: 50K
category-url3: /events/aliciavirtualultra2020/50K


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>