---
permalink: /events/pdsl32020/finisher
layout: default
enableCategoryRank: true
collectionTag: pdsl32020
collectionCategory: finisher
css: event-result.css
event-title: Pilipinas Duathlon Series 2020 Quarantined Edition Final Leg
event-location: Philippines
event-date: 2020-11-23
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1603581872/41E92198-22DE-4F19-946A-F3E262850A63_n9inde.png

category-title1: Participants
category-url1: /events/pdsl32020/participant

category-title2: Finisher
category-url2: /events/pdsl32020/finisher



javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>