---
permalink: /events/adidas-runner-final-2018/wave3
layout: default
enableCategoryRank: false
collectionTag: adidas-runner-final-2018
collectionCategory: wave3
css: event-result.css
event-title: ADIDAS RUNNERS MNL A GAMES FINALS 2018 
event-location: Makati City Philippines
event-date: 2018-05-01
event-logo:

category-title1: Wave 1
category-url1: /events/adidas-runner-final-2018/wave1

category-title2: Wave 2
category-url2: /events/adidas-runner-final-2018/wave2

category-title3: Wave 3
category-url3: /events/adidas-runner-final-2018/wave3

category-title4: Wave 4
category-url4: /events/adidas-runner-final-2018/wave4

category-title5: Wave 5
category-url5: /events/adidas-runner-final-2018/wave5


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

