---
permalink: /events/antique-trail-2020/10KM
layout: default
enableCategoryRank: false
collectionTag: antique-trail-2020
collectionCategory: 10KM
css: event-result.css
event-title: Szkornik and Neil Trail 2020
event-location: Igbical, Hamtic, Antique
event-date: 2020-11-29
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1606982938/logo/antiruq-trails2020_ttinm3.png

category-title1: 5KM
category-url1: /events/antique-trail-2020/5KM

category-title2: 10KM
category-url2: /events/antique-trail-2020/10KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>