---
permalink: /events/fittest-team-spartanway-2018/heat3
layout: default
enableCategoryRank: false
collectionTag: fittest-team-spartanway-2018
collectionCategory: heat3
css: event-result.css
event-title: FITTEST TEAM  EVENT 1 THE SPARTAN WAY 2018
event-location: Makati Philippines
event-date: 2018-03-01
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1574390280/Logo/SpartanLogo_BlackBg-0111_vtsfs4.png

category-title1: Heat 1 Men Duo RX
category-url1: /events/fittest-team-spartanway-2018/heat1

category-title2: Heat 2 Men Duo Scaled
category-url2: /events/fittest-team-spartanway-2018/heat2

category-title3: Heat 3 Trio RX
category-url3: /events/fittest-team-spartanway-2018/heat3

category-title4: Heat 4
category-url4: /events/fittest-team-spartanway-2018/heat4

category-title5: Heat 5 Women Duo Rx
category-url5: /events/fittest-team-spartanway-2018/heat5

category-title6: Heat 6 Trio Scaled
category-url6: /events/fittest-team-spartanway-2018/heat6

category-title7: Heat 7 Women Duo Scaled
category-url7: /events/fittest-team-spartanway-2018/heat7

category-title8: Heat 8 Non Qualifiers
category-url8: /events/fittest-team-spartanway-2018/heat8


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

