---
permalink: /events/kuching-ultra-2019/70KM/
layout: default
enableCategoryRank: false
collectionTag: kuching-ultra-2019
collectionCategory: 70KM
css: event-result.css
title: RaceYaya | Kuching Ultra 2019
event-title: Kuching Ultra 2019
event-location: Cat City, Sarawak, Malaysia
event-date: 03-10-19
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1570025915/logo/kuching_ultra_jsvtue.jpg

category-title1: 30KM
category-url1: /events/kuching-ultra-2019/30KM

category-title2: 50KM
category-url2: /events/kuching-ultra-2019/50KM

category-title3: 70KM
category-url3: /events/kuching-ultra-2019/70KM

category-title4: 100KM
category-url4: /events/kuching-ultra-2019/100KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>