---
permalink: /events/runwawa2021/week3
layout: default
enableCategoryRank: false
enableFinishDistance: false
collectionTag: runwawa2021
collectionCategory: week3
css: event-result.css
event-title: Run for Wawa
event-location: Philippines
event-date: 2021-02-01
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1612407562/logo/2021/i-ran-wawa-logo_syijlo.jpg

category-title1: Week 1
category-url1: /events/runwawa2021/week1

category-title2: Week 2
category-url2: /events/runwawa2021/week2

category-title3: Week 3
category-url3: /events/runwawa2021/week3

category-title4: Week 4
category-url4: /events/runwawa2021/week4

category-title5: Month leaderboard
category-url5: /events/runwawa2021/monthleader

category-title6: Donors
category-url6: /events/runwawa2021/donors

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>