---
permalink: /events/salomon-xtrail-2019/16KM/
layout: default
enableCategoryRank: false
collectionTag: salomon-xtrail-2019
collectionCategory: 16KM
css: event-result.css
title: RaceYaya | Salomon Xtrail Run 2019
event-title: Salomon Xtrail Run 2019
event-location: Timberland Heights, San Mateo, Rizal, Philippines
event-date: April 28 2019
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1569850006/logo/salomon-trail_zzli3u.jpg

category-title1: 16KM
category-url1:  /events/salomon-xtrail-2019/16KM/

category-title2: 24KM
category-url2: /events/salomon-xtrail-2019/24KM/

category-title3: 32KM
category-url3: /events/salomon-xtrail-2019/32KM/

category-title4: 50KM
category-url4: /events/salomon-xtrail-2019/50KM/

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>