---
permalink: /events/deadmans-300-2018/50KM
layout: default
enableCategoryRank: false
collectionTag: deadmans-300-2018
collectionCategory: 50KM
css: event-result.css
event-title: DEADMANS 300 V5
event-location: The Rock Resort, Montalban Rizal Philippines
event-date: 2018-11-30
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1574390962/Logo/DEADMANS_300_V5_jgb8nc.jpg

category-title1: 30KM
category-url1: /events/deadmans-300-2018/30KM

category-title2: 50KM
category-url2: /events/deadmans-300-2018/50KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

