---
permalink: /events/pilipinas-akyathlon-2020/KIDS
layout: default
enableCategoryRank: false
collectionTag: pilipinas-akyathlon-2020
collectionCategory: KIDS
css: event-result.css
event-title: Pilipinas Akyathlon 2020
event-location: Itogon, Benguet Philippines
event-date: 2020-02-01
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1581034212/logo/ph-akyathlon_ldmu3f.png

category-title1: KIDS
category-url1: /events/pilipinas-akyathlon-2020/KIDS

category-title2: VK
category-url2: /events/pilipinas-akyathlon-2020/VK

category-title3: 10KM
category-url3: /events/pilipinas-akyathlon-2020/10KM

category-title4: 25KM
category-url4: /events/pilipinas-akyathlon-2020/25KM

category-title5: 49KM
category-url5: /events/pilipinas-akyathlon-2020/49KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>