---
permalink: /events/jbu-2019/50KM/
layout: default
enableCategoryRank: true
collectionTag: jbu-2019
collectionCategory: 50KM
css: event-result.css
title: RaceYaya | Janda Baik Ultra 2019
event-title: Janda Baik Ultra 2019
event-location: Sekolah Kebangsaan, Kampung Janda Baik, Bentong, Pahang, Malaysia
event-date: February 19 2019
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1569217009/logo/janda-baik_vch1pc.jpg

category-title1: 16KM
category-url1:  /events/jbu-2019/16KM/

category-title2: 30KM
category-url2: /events/jbu-2019/30KM/

category-title3: 50KM
category-url3: /events/jbu-2019/50KM/

category-title4: 100KM
category-url4: /events/jbu-2019/100KM/

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>