---
permalink: /events/ultra-trail-mapawa-50-2016/50KM
layout: default
enableCategoryRank: false
collectionTag: ultra-trail-mapawa-50-2016
collectionCategory: 50KM
css: event-result.css
event-title: ULTRA TRAIL MAPAWA 50 2016
event-location: Mapawa Nature Park Cagayan de Oro Philippines
event-date: 2016-10-01
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1574386563/Logo/image-asset_plfjxn.jpg

category-title1: 5KM
category-url1: /events/ultra-trail-mapawa-50-2016/5KM

category-title2: 15KM
category-url2: /events/ultra-trail-mapawa-50-2016/15KM

category-title3: 50KM
category-url3: /events/ultra-trail-mapawa-50-2016/50KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

