---
permalink: /events/pamutan-trail-2019/50KM/
layout: default
enableCategoryRank: false
collectionTag: pamutan-trail-2019
collectionCategory: 50KM
css: event-result.css
title: RaceYaya | Pamutan Trail 2019	
event-title: Pamutan Trail 2019
event-location: Brgy Pamutan, Cebu City, Philippines
event-date: August 3-4, 2019
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1569072806/logo/pamutan-trail_d8abrj.jpg

category-title1: 10KM
category-url1:  /events/pamutan-trail-2019/10KM/

category-title2: 26KM
category-url2: /events/pamutan-trail-2019/26KM/

category-title3: 50KM
category-url3: /events/pamutan-trail-2019/50KM/


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>