---
permalink: /events/mount-pinatubo-run-2017/25KM
layout: default
enableCategoryRank: false
collectionTag: mount-pinatubo-run-2017
collectionCategory: 25KM
css: event-result.css
event-title: MOUNT PINATUBO RUN 2017
event-location: Tarlac City Philippines
event-date: 2017-11-01
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1574386116/Logo/Event_Poster_vqknnb.png

category-title1: 5KM
category-url1: /events/mount-pinatubo-run-2017/5KM

category-title2: 10KM
category-url2: /events/mount-pinatubo-run-2017/10KM

category-title3: 25KM
category-url3: /events/mount-pinatubo-run-2017/25KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

