---
permalink: /events/soleus-cross-country-2017/12KM
layout: default
enableCategoryRank: true
collectionTag: soleus-cross-country-2017
collectionCategory: 12KM
css: event-result.css
event-title: SOLEUS CROSS COUNTRY CHALLENGE 2 2017
event-location: Rizal Philippines
event-date: 2017-07-01
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1574386221/Logo/profile_photo_kq3r4d.jpg

category-title1: 12KM
category-url1: /events/soleus-cross-country-2017/12KM

category-title2: 21KM
category-url2: /events/soleus-cross-country-2017/21KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

