---
permalink: /events/pilipinas-akyathlon-2019/kiddie
layout: default
enableCategoryRank: false
collectionTag: pilipinas-akyathlon-2019
collectionCategory: kiddie
css: event-result.css
event-title: PILIPINAS AKYATHLON 2019
event-location: Tinongdan, Itogon, Benguet Philippines
event-date: 02-09-2019
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1570025921/logo/akyathlon_jsxiv8.jpg 

category-title1: Kiddie Akyathlon
category-url1: /events/pilipinas-akyathlon-2019/kiddie

category-title2: Vertical Kilometer
category-url2: /events/pilipinas-akyathlon-2019/vertical

category-title3: 10KM Trail Run
category-url3: /events/pilipinas-akyathlon-2019/10KM

category-title4: 25KM Mountain Run
category-url4: /events/pilipinas-akyathlon-2019/25KM

category-title5: 49KM Skymarathon
category-url5: /events/pilipinas-akyathlon-2019/49KM



javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>