---
permalink: /events/just-move-2021/initial
layout: default
enableCategoryRank: false
collectionTag: just-move-2021
collectionCategory: initial
css: event-result.css
event-title: "Race for Positive Change"
event-location: "Virtual Workout"
event-date: 2021-04-14
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1618572770/logo/2021/just-move-banner_gd6fn7.png

category-title1: Initial
category-url1: /events/just-move-2021/initial

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>