---
permalink: /events/tin-mines-2019/6HRS/
layout: default
enableCategoryRank: false
collectionTag: tin-mines-2019
collectionCategory: 6HRS
css: event-result.css
title: RaceYaya | 2019 TIN MINES ENDURANCE CHALLENGE 2ND EDITION
event-title: 2019 TIN MINES ENDURANCE CHALLENGE 2ND EDITION
event-location: Sungai Lembing, Malaysia
event-date: 07-06-19
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1570025899/logo/tinmines_fkmhj8.jpg

category-title1: 6HRS
category-url1: /events/tin-mines-2019/6HRS

category-title2: 12HRS
category-url2: /events/tin-mines-2019/12HRS

category-title3: 12HRS Relay
category-url3: /events/tin-mines-2019/12HRSRELAY

category-title4: 24HRS Men
category-url4: /events/tin-mines-2019/24HRSMEN

category-title5: 24HRS Women
category-url5: /events/tin-mines-2019/24HRSWOMEN

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>