---
permalink: /events/laglag-sundown-trail-2017/6KM
layout: default
enableCategoryRank: false
collectionTag: laglag-sundown-trail-2017
collectionCategory: 6KM
css: event-result.css
event-title: LAGALAG SUNDOWN TRAIL RUN 2017
event-location: Timberland Heights San Mateo Rizal Philippines
event-date: 2017-04-08
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1574388429/Logo/Lagalag-Sundown-Trail-Run-2017-fb_g5qodp.jpg

category-title1: 6KM
category-url1: /events/laglag-sundown-trail-2017/6KM

category-title2: 12KM
category-url2: /events/laglag-sundown-trail-2017/12KM

category-title3: 25KM
category-url3: /events/laglag-sundown-trail-2017/25KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

