---
permalink: /events/atat-2020/25KM
layout: default
enableCategoryRank: false
collectionTag: atat-2020
collectionCategory: 25KM
css: event-result.css
event-title: A Taste of Antique Trails
event-location: Aningalan, Antique
event-date: 2020-02-09
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1581923594/logo/2020/atat-2020_zzhtph.png

category-title1: 8KM
category-url1: /events/atat-2020/8KM

category-title2: 16KM
category-url2: /events/atat-2020/16KM

category-title3: 25KM
category-url3: /events/atat-2020/25KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>