---
permalink: /events/cordillera-mountain-ultra-2018/26K
layout: default
enableCategoryRank: true
collectionTag: cordillera-mountain-ultra-2018
collectionCategory: 26K
css: event-result.css
event-title: 2018 CORDILLERA MOUNTAIN ULTRA
event-location: Dalupirip Itogon Benguet Philippines
event-date: 2018-03-03
event-logo:

category-title1: Vertical KM
category-url1: /events/cordillera-mountain-ultra-2018/VERTICALKM

category-title2: 26K Mountain Run
category-url2: /events/cordillera-mountain-ultra-2018/26K

category-title3: 50K Mountain Run
category-url3: /events/cordillera-mountain-ultra-2018/50K

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

