---
permalink: /events/fatass-clark-2018/12HRSPM
layout: default
enableCategoryRank: false
collectionTag: fatass-clark-2018
collectionCategory: 12HRSPM
css: event-result.css
event-title: FAT ASS CLARK 2018
event-location: CDC Clark Parade Grounds Philippines
event-date: 2018-01-01
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1573625290/Logo/Logo_wa5xi5.png

category-title1: 6HRS AM
category-url1: /events/fatass-clark-2018/6HRSAM

category-title2: 6HRS PM
category-url2: /events/fatass-clark-2018/6HRSPM

category-title3: 12HRS Morning Run
category-url3: /events/fatass-clark-2018/12HRSAM

category-title4: 12HRS Night Run
category-url4: /events/fatass-clark-2018/12HRSPM

category-title5: 24HRS
category-url5: /events/fatass-clark-2018/24HRS

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

