---
permalink: /events/oldspanish-trail50k-2018/50K
layout: default
enableCategoryRank: false
collectionTag: oldspanish-trail50k-2018
collectionCategory: 50K
css: event-result.css
event-title: OLD SPANISH TRAIL 50K 2018
event-location: Kayapa Nueva Ecija
event-date: 2018-02-17
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1573622881/Logo/logo_cnhpnx.jpg

category-title1: 50K
category-url1: /events/oldspanish-trail50k-2018/50K

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

