---
permalink: /events/hangaway-ultra-trail-2019/12KM
layout: default
enableCategoryRank: false
collectionTag: hangaway-ultra-trail-2019
collectionCategory: 12KM
css: event-result.css
event-title: HANGAWAY ULTRA-TRAIL 50 2019
event-location: Sibalom, Antique Philippines
event-date: 05-05-2019
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1570025919/logo/hangaway_ttcorg.jpg

category-title1: 12KM
category-url1: /events/hangaway-ultra-trail-2019/12KM

category-title2: 24KM
category-url2: /events/hangaway-ultra-trail-2019/24KM

category-title3: 34KM
category-url3: /events/hangaway-ultra-trail-2019/34KM

category-title4:
category-url4:



javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>