---
permalink: /events/ultron-ultimate-penang-2018/60KM
layout: default
enableCategoryRank: false
collectionTag: ultron-ultimate-penang-2018
collectionCategory: 60KM
css: event-result.css
event-title: ULTRON ULTIMATE TRAILS OF PENANG 2018
event-location: Youth Park Penang Island Malaysia
event-date: 2018-09-22
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1573623002/Logo/ULTRO_2018_LOGO_btp5xw.jpg

category-title1: 20KM
category-url1: /events/ultron-ultimate-penang-2018/20KM

category-title2: 40KM
category-url2: /events/ultron-ultimate-penang-2018/40KM

category-title3: 60KM
category-url3: /events/ultron-ultimate-penang-2018/60KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

