---
permalink: /events/cm50-2018/50MILES
layout: default
enableCategoryRank: false
collectionTag: cm50-2018
collectionCategory: 50MILES
css: event-result.css
event-title: Clark Miyamit Falls Ultra (CM50) 2018
event-location: Manuel L Quezon corner Mimosa Drive, Clark Freeport Zone, Clark, Pampanga, Philippines
event-date: 2018-11-25
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1570607412/logo/cm50_p8ydpq.jpg

category-title1: 10Miles Mini Bad Ass
category-url1: /events/cm50-2018/10MILES

category-title2: 32Miles Semi Bad Ass
category-url2: /events/cm50-2018/32MILES

category-title3: 50Miles Bad Ass
category-url3: /events/cm50-2018/50MILES


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>