---
permalink: /events/ultimate-trails-of-the-south-2020/50KM
layout: default
enableCategoryRank: false
collectionTag: ultimate-trails-of-the-south-2020
collectionCategory: 50KM
css: event-result.css
event-title: Ultimate Trails of the South
event-location: Kota Tinggi Water Falls,  Johor, Malaysia
event-date: 2020-02-08
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1581841103/logo/2020/ultimate-trails-2020_i93dfj.jpg

category-title1: 15KM
category-url1: /events/ultimate-trails-of-the-south-2020/15KM

category-title2: 35KM
category-url2: /events/ultimate-trails-of-the-south-2020/35KM

category-title3: 50KM
category-url3: /events/ultimate-trails-of-the-south-2020/50KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>