---
permalink: /events/coron-island-swim-2019/6KM
layout: default
enableCategoryRank: false
collectionTag: coron-island-swim-2019
collectionCategory: 6KM
css: event-result.css
event-title: Coron Island Swim Challenge 2019
event-location: Royal Island Resort and Watersports, Coron Palawan
event-date: 2019-12-08
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1575958949/Logo/Coron.jpg

category-title1: 1KM
category-url1: /events/coron-island-swim-2019/1KM

category-title2: 4KM
category-url2: /events/coron-island-swim-2019/4KM

category-title3: 6KM
category-url3: /events/coron-island-swim-2019/6KM


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>