---
permalink: /events/bts-ultra-2017/70KM
layout: default
enableCategoryRank: false
collectionTag: bts-ultra-2017
collectionCategory: 70KM
css: event-result.css
event-title: BTS ULTRA 2017 
event-location: Bromo Tengger Semeru National Park East Java Indonesia
event-date: 2017-11-03
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1574389068/Logo/btsultra-profilpic_qfpjxb.png

category-title1: 30KM
category-url1: /events/bts-ultra-2017/30KM

category-title2: 70KM
category-url2: /events/bts-ultra-2017/70KM

category-title3: 102KM
category-url3: /events/bts-ultra-2017/102KM

category-title4: 170KM
category-url4: /events/bts-ultra-2017/170KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

