---
permalink: /events/the-6th-antique-marathon-2019/42KM
layout: default
enableCategoryRank: false
collectionTag: the-6th-antique-marathon-2019
collectionCategory: 42KM
css: event-result.css
event-title: THE 6TH ANTIQUE MARATHON 2019
event-location: Sibalom Antique Philippines
event-date: 2019-11-03
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1573451689/logo/antique-marathon-2019_xvgf0s.jpg

category-title1: 5KM
category-url1: /events/the-6th-antique-marathon-2019/5KM

category-title2: 10KM
category-url2: /events/the-6th-antique-marathon-2019/10KM

category-title3: 21KM
category-url3: /events/the-6th-antique-marathon-2019/21KM

category-title4: 42KM
category-url4: /events/the-6th-antique-marathon-2019/42KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>