---
permalink: /events/taste-of-antique-repeat-2019/16KM
layout: default
enableCategoryRank: false
collectionTag: taste-of-antique-repeat-2019
collectionCategory: 16KM
css: event-result.css
event-title: A TASTE OF ANTIQUE TRAILS 4 ANINGALAN REPEAT 2019
event-location: Aningalan, San Remigio, Antique Philippines
event-date: 02-10-2019
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1573615080/Logo/2019_A_TASTE_OF_ANTIQUE_TRAILS_4_ANINGALAN_REPEAT_qfwa6u.jpg 

category-title1: 8KM
category-url1: /events/taste-of-antique-repeat-2019/8KM

category-title2: 16KM
category-url2: /events/taste-of-antique-repeat-2019/16KM

category-title3: 25KM
category-url3: /events/taste-of-antique-repeat-2019/25KM

category-title4:
category-url4:



javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>