---
permalink: /events/salomon-xtrail-iloilo-2019/32K
layout: default
enableCategoryRank: false
collectionTag: salomon-xtrail-iloilo-2019
collectionCategory: 32K
css: event-result.css
event-title: Salomon Xtrail Iloilo 2019
event-location: UPV Miago Iloilo Philippines
event-date: 2019-11-17
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1574225691/Logo/FB_IMG_1574225620888_l04gqf.jpg

category-title1: 8K
category-url1:  /events/salomon-xtrail-iloilo-2019/8K

category-title2: 17K
category-url2: /events/salomon-xtrail-iloilo-2019/17K

category-title3: 32K
category-url3: /events/salomon-xtrail-iloilo-2019/32K

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>