---
permalink: /events/trailrun-mapawa-2018/5K
layout: default
enableCategoryRank: false
collectionTag: trailrun-mapawa-2018
collectionCategory: 5K
css: event-result.css
event-title: TRAIL RUN MAPAWA 2018
event-location: Mapawa Nature Adventure Park, Mapawa, Malasag Cugman, Cagayan de Oro Philippines
event-date: 2018-04-29
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1574390173/Logo/image_lvmya6.jpg

category-title1: 5K
category-url1: /events/trailrun-mapawa-2018/5K

category-title2: 21K
category-url2: /events/trailrun-mapawa-2018/21K

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

