---
permalink: /events/golden-trail-2019/42K
layout: default
enableCategoryRank: true
collectionTag: golden-trail-2019
collectionCategory: 42K
css: event-result.css
event-title: Golden Trail Series Grand Final 2019
event-location: Pockhara Nepal Himalaya
event-date: 2019-10-25
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1572252502/logo/goldentrail-2019_k6n0ge.jpg

category-title1: 42K
category-url1: /events/golden-trail-2019/42K




javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>