---
permalink: /events/tailwind-penang-100-2019/50KM/
layout: default
enableCategoryRank: false
collectionTag: tailwind-penang-100-2019
collectionCategory: 50KM
css: event-result.css
title: RaceYaya | Tailwind Penang Eco 100 2019
event-title: Tailwind Penang Eco 100 2019
event-location: Bukit Mertajam, Penang, Malaysia 
event-date: 06-22-2019
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1573614442/Logo/Logo_gqlzi3.jpg

category-title1: 100 Miles
category-url1: /events/tailwind-penang-100-2019/100MILES

category-title2: 30KM
category-url2: /events/tailwind-penang-100-2019/30KM

category-title3: 50KM
category-url3: /events/tailwind-penang-100-2019/50KM

category-title4: 100KM
category-url4: /events/tailwind-penang-100-2019/100KM


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>