---
permalink: /events/pdsl1-2020/participant
layout: default
enableCategoryRank: true
collectionTag: pdsl1-2020
collectionCategory: participant
css: event-result.css
event-title: Pilipinas Duathlon Series 2020 Quarantined Edition Leg 1
event-location: Philippines
event-date: 2020-09-21
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1600494253/PDSLeg1.jpg

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>