---
permalink: /events/2018-trail-marathon-mapawa/42K
layout: default
enableCategoryRank: false
collectionTag: 2018-trail-marathon-mapawa
collectionCategory: 42K
css: event-result.css
event-title: 2018 TRAIL MARATHON MAPAWA
event-location: Mapawa Nature Adventure Park, Mapawa, Malasag Cugman, Cagayan de Oro
event-date: 2018-07-29
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1573625214/Logo/Trail-Marathon-Mapawa_xzjdcg.png

category-title1: 10K
category-url1: /events/2018-trail-marathon-mapawa/10K

category-title2: 42K
category-url2: /events/2018-trail-marathon-mapawa/42K

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

