---
permalink: /events/climathon2020/42K
layout: default
enableCategoryRank: false
enableFinishDistance: false
collectionTag: climathon2020
collectionCategory: 42K
css: event-result.css
event-title: Climathon Virtual Marathon
event-location: Philippines
event-date: 2020-12-19
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1610415350/logo/2021/climathon-virtual-marathon_zvzuyk.jpg

category-title1: 10K
category-url1: /events/climathon2020/10K

category-title2: 21K
category-url2: /events/climathon2020/21K

category-title3: 42K
category-url3: /events/climathon2020/42K


javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>