---
permalink: /events/taste-of-antique-3-2018/16KM
layout: default
enableCategoryRank: false
collectionTag: taste-of-antique-3-2018
collectionCategory: 16KM
css: event-result.css
event-title: A TASTE OF ANTIQUE TRAILS 3 2018
event-location: Aningalan San Remegio Antique Philippines
event-date: 2018-02-11
event-logo: https://res.cloudinary.com/dykbosktl/image/upload/v1574390516/Logo/event_poster_pabytm.jpg

category-title1: 8KM
category-url1: /events/taste-of-antique-3-2018/8KM

category-title2: 16KM
category-url2: /events/taste-of-antique-3-2018/16KM

category-title3: 25KM
category-url3: /events/taste-of-antique-3-2018/25KM

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>

